@media screen and (min-width: 1200px){
    .container-fluid {
        max-width: 1920px;
    }
    .container-1730 {
        max-width: 1730px;
    }
}
@media screen and (max-width: 1199px) {
    .join-section-bg,
    .about-section-bg,
    .brand-section-bg,
    .shop-section-bg {
        max-height: 500px;
        height: 100%;
        padding: 50px;
    }
}
@media screen and (max-width: 991px) {
    main {
        padding-top: 100px;
    }
    .section1 .abs h1 {
        font-size: 4rem;
        line-height: 3rem;
    }
    section h2 {
        font-size: 40px;
    }
    .section1 .abs {
        bottom: 20%;
        left: 10%;
    }
    #section1.section1 {
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
    h1 {
        color: #e3e3e3;
        font-size: 60px;
        letter-spacing: -5px;
    }
    .brand-section .btn-green-gradient {
        margin-bottom: 50px;
    }
    .brand-section .title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 40px;
    }
    .brand-section .info-text {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
        padding-right: 0;
    }
    .footer-logo {
        width: 100px;
        height: 90px;
    }
    .blog-section .blog-card .rose-bg img {
        width: 75%;
    }
}
@media screen and (max-width: 767px){
    .footer-bg {
        background-repeat: repeat!important;
    }
    .section1 .abs h1 {
        font-size: 2.5rem;
        letter-spacing: -2px;
        line-height: 2rem;
    }
    .home-card-pagination-title {
        font-size: 22px;
        line-height: 30px;
    }

    section h2 {
        font-size: 26px;
    }
    .header-logo {
        width: 100px;
        min-width: 100px;
    }

}